*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 10%;
}
textarea{
    width: 500px;
    height: 100px;
    border-radius: 5px;
}
button{
    margin: 10px auto;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}